.head{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}
.title{
    display: flex;
    align-items: center;
    gap: 5px;
}
.head svg{
    stroke-width: 1px;
}

.small{
    font-size: var(--font-size-small);
}
.small .head{
    margin-bottom: 15px;
}
.small .button{
    min-height: 25px;
    padding: 2px 4px;
}
.small .title{
    font-size: var(--font-size-h4);
}