.head{
    margin-bottom: 20px;
}
.content label, .content legend{
    display: block;
    margin-bottom: 10px;
    font-weight: var(--font-weight-medium);
}
.content input, .content textarea{
    display: block;
    width: 100%;
    padding: 0.5rem;
    border-radius: 5px;
    border: 1px solid var(--color-border);
    background-color: var(--color-surface);
    color: var(--color-text);
}
.content textarea{
    resize: none;
    
}

