.sidebar{
    position: fixed;
    width: var(--sidebar-width);
    top: 0;
    left: 0;
    height: 100%;
    background-color: var(--color-surface);
    padding: 30px 20px;
}
.logo{
    height: 50px;
    width: auto;
}
.nav{
    list-style-type: none;
    padding: 0;
    margin: 20px 0;
}
.nav li{
    margin-bottom: 5px;
}
.nav a{
    padding: 10px 20px;
    display: flex;
    border-radius: 10px;
    transition: color .2s, background .2s;
}
.nav a:hover{
    color: var(--color-primary-dark);
    background: rgb(from var(--color-primary) r g b / 10%);
}
.active{
    color: var(--color-primary-dark);
    background: rgb(from var(--color-primary) r g b / 10%);
}