.head{
    margin: 20px 0 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.calendar{
    display: grid;
    align-items: center;
    grid-template-columns: repeat(7, minmax(0,1fr));
    gap: 10px;
}
.day{
    width: 40px;
    height: 40px;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-self: center;
    background-color: transparent;
    font-weight: var(--font-weight-medium);
    transition: color .12s linear, background-color .12s linear;
}
.day:hover, .day.active{
    background-color: var(--color-primary);
    color: var(--color-surface);
}
.prev-day{
    color: var(--color-text-muted);
}
.day-name{
    text-align: center;
    color: var(--color-text-muted);
    font-weight: var(--font-weight-medium);
}
.buttons{
    display: flex;
    gap: 5px;
}