.toggle-button{
    position: relative;
    width: 34px;
    height: 18px;
    display: block;
    cursor: pointer;
}
.toggle-button input{
    opacity: 0;
    width: 0;
    height: 0;
}
.slider{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 100px;
    background: rgb(from var(--color-primary) r g b / 40%);
}
.tumbler{
    position: absolute;
    display: flex;
    align-items: center;
    height: 14px;
    width: 14px;
    left: 2px;
    bottom: 2px;
    padding: 2px;
    border-radius: 100%;
    background-color: #fff;
    -webkit-transition: .4s;
    transition: .4s;
}
.toggle-button input:checked + .slider .tumbler{
    -webkit-transform: translateX(16px);
    -ms-transform: translateX(16px);
    transform: translateX(16px);
}
.toggle-button input:checked + .slider{
    background-color: var(--color-primary);
}